/* core */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Permanent Marker', cursive;
    min-height: 100%;
    position: relative;
}
body{
    background-color: #1E1E24;
    color: #FFF;
    margin-bottom: 100px;
}

/* headder */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #321718;
    height: 8rem;
}
header .title{
    color: #F9F871;
    font-size: 3em;
}

/* main */
main{
    text-align: center;
    padding-top: 3rem;
}
main span{
    font-size: 5.33em;
}

/* .game-board */
.blur{
    filter: blur(3px);
}
.game-board #round{
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
}
.game-board img{
    height: 7.5rem;
    width: auto;
}
.game-board .score-board{
    display: flex;
    justify-content: space-evenly;
}
.game-board .select-pick{
    margin-top: 3rem;
}
.game-board .select-pick img{
    background-color: #313247;
    border-radius: 1rem;
    padding: 0.5rem;
    border: solid 5px transparent;
}
.game-board .select-pick img:hover{
    cursor: pointer;
    background-color: #C0C0C8;
    border-color: #313247;
}
.game-board .select-pick #paper{
    margin: 0 2rem;
}
.game-board .select-pick p{
    font-size: 1.5em;
}

/* .overlay */
.overlay{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #1E1E24;
    width: 18rem;
    height: 16rem;
    border-radius: 1rem;
    border: solid 5px #321718;
    display: none;
}
.overlay h3{
    margin-top: 1rem;
    font-size: 1.8em;
}
.overlay button{
    padding: 0.45rem 2rem;
    background-color: #313247;
    border-radius: 0.5rem;
    border: solid 3px transparent;
    color: #FFF;
    margin-top: 1.5rem;
    font-size: 1.3em;
}
.overlay button:hover{
    cursor: pointer;
    background-color: #C0C0C8;
    border-color: #313247;
    color: #000;
}
.active{
    display: block;
}

/* footer */
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* media queries */
@media (max-width: 550px) {
    /* header */
    header .title{
        font-size: 1.8em;
    }
    /* main */
    main span{
        font-size: 3.33em;
    }
    /* .game-board */
    .game-board #message{
        font-size: 1.2em;
    }
    .game-board img{
        height: 4.5rem;
    }
    .game-board .select-pick p{
        font-size: 1em;
    }
    /* .overlay */
    .overlay{
        width: 16rem;
        height: 14rem;
    }
    .overlay h3{
        margin-top: 1rem;
        font-size: 1.5em;
    }
    .overlay button{
        padding: 0.45rem 2rem;
        margin-top: 1.5rem;
        font-size: 1.3em;
    }
}